---
layout: default
title: News
color: blue
footer: yes
intro: All our news, all in one place.
sub_heading: Have a look around and see what we have been up to.
---
<div class="row">
    <div class="col s12">
        <h3 class="white-text center-align"><strong>{{ page.intro }}</strong></h3>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <p class="white-text center-align flow-text"><strong>{{ page.sub_heading }}</strong></p>
    </div>
</div>
<div class="container">
  <ul class="posts">
    {% for post in paginator.posts %}
      <li>
          <span class="white-text">{{ post.date | date: "%b %-d, %Y" }}</span></li>
        <li><a class="flow-text white-text" href="{{ post.url | prepend: site.baseurl }}"><strong>{{ post.title }}</strong> - {{ post.tagline }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
  {% if paginator.total_pages > 1 %}
<div class="row">
    <div class="container center"
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/news/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}


