<div class="row white">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="blue-text">Isle of Harris Car Hire</h5>
                <p class="blue-text text-darken-1">Main Street.</p>
                <p class="blue-text text-darken-1">Tarbert.</p>
                <p class="blue-text text-darken-1">Isle of Harris.</p>
                <p class="blue-text text-darken-1">HS3 3DJ</p>
                <p class="blue-text text-darken-1">info@isleofharris-carhire.com</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="blue-text">Terms & Conditions</h5>
                <ul>
                  <li><a class="blue-text text-lighten-1" href="{{ site.baseurl }}/terms">Car Hire Terms</a></li>
                  <li><a class="blue-text text-lighten-1" href="{{ site.baseurl }}/privacy">Website Policy</a></li>
                </ul>
                  <a class="blue-text" href="http://digitalfreedom.me/">Digital Freedom</a> built our website with a ittle bit of <i class="mdi-action-settings-ethernet"></i> and a whole lot of <i class="mdi-action-alarm"></i>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
                <p>&#169 Isle of Harris Car Hire {{ site.time | date: "%Y" }}</p>
            </div>
          </div>
</div>
