---
layout: default
---
<div class="row">
    <div class="col s12">
        <h3 class="white-text center-align"><strong>{{ page.intro }}</strong></h3>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <p class="white-text center-align flow-text"><strong>{{ page.sub_heading }}</strong></p>
    </div>
</div>
<div class="row">
<div class="col s12 flow-text white-text">
 {{ content }}
</div>
</div>
<div class="row">
    <div class="col s3 center-align">
        <a href="{{ site.baseurl }}/contact" class="btn-floating btn-large waves-effect waves-light teal"><i class="mdi-communication-call"></i></a>
        <p class="white-text flow-text"><strong>Contact</strong></p>
    </div>
    <div class="col s3 center-align">
        <a href="{{ site.baseurl }}/cars" class="btn-floating btn-large waves-effect waves-light teal"><i class="mdi-maps-directions-car"></i></a>
        <p class="white-text flow-text"><strong>Cars</strong></p>
    </div>
    <div class="col s3 center-align">
        <a href="{{ site.baseurl }}/links" class="btn-floating btn-large waves-effect waves-light teal"><i class="mdi-content-link"></i></a>
        <p class="white-text flow-text"><strong>Links</strong></p>
    </div>
    <div class="col s3 center-align">
        <a href="{{ site.baseurl }}/news" class="btn-floating btn-large waves-effect waves-light teal"><i class="mdi-communication-message"></i></a>
        <p class="white-text flow-text"><strong>News</strong></p>
    </div>
</div>
<div class="row">
<div class="col s12 flow-text white-text">
 <h4 class="center-align">Latest news</h4>
    <ul>
        {% for post in site.posts limit:5 %}
        <li>
            <a href="{{ post.url }}">{{ post.title }} - posted on {{ post.date | date_to_string }}</a>
            {{ post.excerpt }}
        </li>
        {% endfor %}
    </ul>
</div>
</div>
