---
layout: default
footer: yes
---
<div class="row">
    <div class="col s12">
        <h3 class="white-text center-align"><strong>{{ page.intro }}</strong></h3>
    </div>
</div>
<div class="row">
    <div class="col s12 flow-text white-text center">
        {{ content }}
    </div>
</div>
<div class="row">
    <div class="col s12 center">
        <img class="responsive-img materialboxed z-depth-2" src="/cars/fleet.jpg">
    </div>
</div>
<div class="row">
    <div class="col s12 flow-text white-text center-align">
        <p>Plenty of room inside, Bluetooth enabled, two 12v power sockets to keep your phone charged, DAB radio with USB and aux connections ... the list goes on. We supply a spare phone charger to prevent arguments, and aux cables so you <em>can</em> argue over whose music to listen to.</p>
    </div>
</div>
<div class="row">
    <div class="col s12 m4">
        <img class="responsive-img materialboxed z-depth-2" src="/cars/rio_internal.jpg">
    </div>
    <div class="col s12 m4">
        <img class="responsive-img materialboxed z-depth-2" src="/cars/kia_internal_back.jpg">
    </div>
    <div class="col s12 m4">
        <img class="responsive-img materialboxed z-depth-2" src="/cars/kia_boot.jpg">
    </div>
</div>
<div class="row">
    <div class="col s12 flow-text white-text center-align">
        <p>If you need child seats let us know and we will have them fitted for you. Looking for ideas on where to go? We include suggested trips based on the duration of your hire.  </p>
    </div>
</div>
<div class="row">
    <div class="col s12 center">
        <p class="white-text flow-text"><strong>Check out our News section for our latest offers.</strong></p>
    </div>
</div>
<div class="section">
    <div class="col s12 center">
        <h4 class="white-text"><strong>Interested? Get in touch.</strong></h4>
    </div>
</div>
